html {
    height: 100%;
  }
body{

    margin:0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}  
.main-container {
    flex-grow: 1;   
}
.page-container {
    width:1200px;
    margin: 0 auto;
    display:flex;
    flex-wrap:wrap;
}
.main-logo {
    display: block;
    margin: 0 auto;
    width:458px;
    height:352px;
}
body {
    font-family: "PT Sans", sans-serif;
    font-size:24px;
    line-height:28px;
}
.logo-h1 {
    /*
    font-family:inherit;
    Как установить Pt sans?Не работает шрифт почти на всех блоках.
    */
    font-size:30px;
    line-height:36px;
    margin:0;
    padding:0;
    text-align: center;

}
.p-logo {
    color: #333333;
    font-size:22px;
    line-height:36px;
    text-align: center;
}
.navigation {
    display:flex;
    width:1200px;
    margin:0 auto;
}
.logo-nav{
    width:138px;
}
.navigation-list {
    display:flex;
    flex-wrap:wrap;
    width:550px;
    margin:0;
    padding:0;
    list-style-type: none;
}
.navigation-user {
    display:flex;
    flex-wrap:wrap;
    max-width:350px;
    margin-left:auto;
}
.navigation-link {
    display: block;
    font-size:20px;
    line-height:26px;
    font-weight: 700;
    text-align:center;
    color: #000000;
    background-color:#ffffff ;
    text-decoration: none;
    margin:0;
    padding:33px;
    
  }
.here-button{
        font-family: inherit;
        font-size: 16px;
        line-height: 16px;
        font-weight: 700;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        background-color:#756257;
        border-radius: 4px;      
}
.page-header{
    height:65px;
}
.page-index {
    background-image: url("../images/index-background.jpg");
    width: 1200px;
    
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
.mailing-index {
    background-image: url("../images/background-mailing.jpg");
    height:411px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}
.mailing {
    text-align:center;
    margin-bottom:50px;
}
.block {
    background-color: #83B3D3;
    color:#ffffff;
    text-align: center;
    margin: 0;
    padding: 0;

}
.food{
    background-color: #83B3D3;
    color:#ffffff;
    text-align: center;
}
.hotels{
    background: rgba(131, 179, 211, 0.12); 
    margin: 0;
    padding: 0;
    color:#ffffff;
    text-align: center;;
}
.souvenirs{
    background-color: #83B3D3;
    color:#ffffff;
    text-align: center;
    background: rgba(131, 179, 211, 0.12); 
    margin: 0;
    padding: 0;
}
.main-inner-svg{
    margin-right:11px;
    margin-left:68px;
}
.main-inner {
    background: url(../images/catalog-background.jpg);
    background-repeat: no-repeat;
}
.select-control {
    color:#333333;
}
.button-repeat {
    font-family: inherit;
    font-style: normal;
    font-size: 16px;
    background: none;
    color:#ffffff;
    border:none;
    margin-left:25px;
    margin-top:10px;
}
.button-repeat-block {
    margin-top:10px;
}
.button-catalog{
    display:flex;
    flex-direction: column;
    margin:0 auto;
    margin-right:160px;
}
.button-use {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background: none;
    color:#ffffff;
    border:none;
    margin-left:25px;
    margin-top:10px;
}
.button-use-block {
    background: #83B3D3;
    border-radius: 4px;
    width: 160px;
    height: 48px;
    margin:0 auto;
}
.sorting-block {
    display:flex;
    margin-top: 517;
    margin-left:71px;
    padding:0;
    justify-content: space-between;
    margin-top:39px;
}
.h2_sirting-block{
    margin:0;
    padding:0;
}
.sortying-type{
    width: 1057px;
}
.select-control {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    border:none;
}
.inner-header-title {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    padding:0;
    margin-top:18px;
    margin-left:66px;
}
.catalog-filter-title {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color:#FFFFFF;
    width: 150px;
    height: 26px;
}
.control-label {
    width: 63px;
    height: 23px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}
.catalog-filter-title_type {
    height: 26px; 
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}
.catalog-rilter-input_from-to {
    width: 20px;
    height: 23px;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.3;
}
.catalog-filter-list {
    list-style: none;
}
.catalog-filter-group {
    border:none;
}
.mode-title {
    border: 2px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
    margin:0;
    text-decoration: none;
}
.mode-title-black {
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px;
}
.mode-title-block{
    
}
.product-card-title {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
}
.product-card-price {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color:#333333;
}
.rating {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    
    background: #F2F2F2;
    border-radius: 4px;
    color:#333333;
    width: 160px;
    height: 37px;
    
}
.white-block {
    background-color:#ffffff;
    width: 1200px;
    height: 282px;
    left: 40px;
    top: 550px;
    margin: 0;
    padding: 0;
}
.logo-block {
    margin: 0 auto;
    width:720px;
    padding:63px 240px 139px;
}
.h2-block {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color:black;
    margin:0;
    padding:0;
    margin-top:100px;
    margin-bottom:0;
}
.h2-block_svg{
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color:black;
    margin-top:23px;
}
.h2-block_white{
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin:0;
    padding:0;
    margin-top:100px;
    margin-bottom:0;
}
.block-number-one {
    font-family: inherit;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center; 
}
.number-white {
    font-family: inherit;
    color:#ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-top:25px;
    margin-bottom:0;
}
.block-number-one_p{
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin-top:25px;
    margin-bottom:0;
}
.food {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    background-color:#ffffff;
}
.number {
    color:#333333;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top:48;
    padding:0;
    margin-bottom:0;
    
}
.number_none-svg{
    color:#333333;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    padding:0;
    margin-bottom:0;
    margin-top:26px;
}
.block-attractions{
    background: rgba(131, 179, 211, 0.12); 
    margin: 0;
    padding: 0;
}
.souvenirs {
    background: rgba(131, 179, 211, 0.12);
}
.block-road {
    background: rgba(131, 179, 211, 0.2);
}
.block-tourist{
    background: rgba(131, 179, 211, 0.12); 
    margin: 0;
    padding: 0;
}
.sedona-hotels-block {
    text-align: center;
}
.sedona-hotels-block-p {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* or 118% */
    color:#333333;
    text-align: center;
}
.sedona-hotels-block-h2 {
    
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}
.souvenirs-svg {
    margin-top:85px;
}
.food-svg{
    margin-top:91px;
}
.hotels-svg{
    margin-top:89px;
}
.searchhotels {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    text-decoration:none;
    color:#FFFFFF;
}
.searchhotels-block {
    color: #FFFFFF;
    background: #756257;
    border-radius: 10px;
    width: 575px;
    height: 60px;
    margin:0 auto;
}
.mailing-h1 {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    color:#FFFFFF;
    text-align: center;
}
.mailing-p {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    /* or 118% */
    color:#FFFFFF;
    text-align: center;
    /* basic/white */
    color: #FFFFFF;
}
.mail-button {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #000000;
    opacity: 0.6;
    margin-left:200px;
    background: #F2F2F2;
    border:none;
    width: 600px;
    height: 60px;
    border-radius: 10px 0px  0px 10px;
}
.for-email-button {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 60px;
    /* or 130% */
    color:#FFFFFF;
    align-items: center;
    
}
.for-email-button-block {
    width: 200px;
    height: 62px;
    background: #83B3D3;
    border-radius: 0px 10px 10px 0px;
}
.mail_block{
    display:flex;
    margin-left:-100px;
}
.product-card-button {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
    padding-top:9px;
    padding-bottom:10px;
    padding-left:15%;
}
.block-product-card {
    width: 151px;
    height: 37px;
    background: #756257;
    border-radius: 4px;
}
.product-card-button-blue {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    color:#FFFFFF;
    padding-top:9px;
    padding-bottom:10px;
    padding-left:15%;
    
}
.button-blue {
    width: 160px;
    height: 37px;
    background: #83B3D3;
    border-radius: 4px;
}
.button-green {
    width: 160px;
    height: 37px;
    background: #7DB54F;
    border-radius: 4px;
}
.mode-title {
    margin:8px;
}
.footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.footer-social-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display:flex;
    flex-wrap:wrap;
}
.footer-social-item{
    width:30px;
    height:30px;
    margin-right: 8px; 
    margin-bottom: 8px;
}
.footer-social-item:nth-child(3n) {
    margin-right: 0;
  }
.htmlacademy-block {
    margin-left:auto;
    
}
.telefon {
    font-family: "PT Sans",sans-serif,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    color:black;
    text-align: center;
    width:720px;
    margin-left:230px;
}
.text-sorting {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
    margin-left:302px;
    margin-right:68px;
}
.text-sorting-block{
    display:flex;
    flex-direction:row;
}
.option-control {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #333333;
}
.pagination-link-block-gray {
    background-color: #F2F2F2;
    border-radius: 4px;
    width: 55px;
    height: 55px;
    margin-left:auto;
    margin-right:8px;
}
.pagination-current-gray {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    padding-top:22%;
    padding-left:37%;
    
}
.pagination-link {
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    padding-top:22%;
    padding-left:37%;
}
.pagination-link-block{
    background-color: #83B3D3;
    border-radius: 4px;
    width: 55px;
    height: 55px;
    margin-right:8px;
}
.link-more-div {
    margin-top:31px;
    margin-left:288px;
    width: 625px;
    height: 55px;
    background-color: #83B3D3;
    border-radius: 4px;
}
.link-more {
    padding-top:15px;
    padding-left:200px;
    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;

    
    text-decoration: none;
    color:#FFFFFF;
}
.block {
    width:400px;
    height: 384px;
    margin:0;
    padding:0;
}
.block {
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
}
.photo-center-city {
    width: 800px;
    height: 384px;
}
.main-page-block{
    display:flex;
    justify-content: space-around;
    align-content:column;
    padding:0;
    margin:0;
    margin-left:45px;
}
.breadcrumbs {
    display:flex;
    flex-direction:row;
    padding:0;
    margin:0;
    
}
.breadcrumbs-link {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;    
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    width: 73px;
    height: 21px;
    margin-left:10px;
}
.product-card {
    display:grid;
}
.sorting-footer-block {
    display:flex;   
}
.pagination-link_flex {
    display:flex;
    align-items: baseline;
    margin-left:112px;
}
.decoration-line {
    width: 1056px;
    height: 0px;
    border: 1px solid #E6E6E6;
    margin:30px 72px;
}